<style>
    body {
        background-color: #f2f2f2;
    }

    .bg-admin-dash {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 50px auto;
        max-width: 800px;
        padding: 20px;
    }

    .bg-c1efde {
        background-color: #c1efde;
    }

    a {
        text-decoration: none;
    }
</style>
<div class="bg-admin-dash">

    <div class="row g-3">

        <div class="col-md-4">
            <a href="/admin/candidates">
                <div class="p-3 bg-c1efde shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <p class="fs-5">Candidates
                            Entry
                        </p>
                    </div>
                    <i class="fas fa-people-group fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/admin/programs">
                <div class="p-3 bg-c1efde shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <p class="fs-5">Programs
                            Entry
                        </p>
                    </div>
                    <i class="fas fa-pen fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/admin/results">
                <div class="p-3 bg-c1efde shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <p class="fs-5">Results
                            Entry
                        </p>
                    </div>
                    <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </a>
        </div>
    </div>
</div>