{{#if user}}
<style>
  .logoImg{
    width: 100px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="logoImg " src="https://i.ibb.co/D9GWzT5/LOGO-P.png" alt="LOGO-P" border="0">
    <a class="navbar-brand" href="/admin"> Control Room</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      
      
      <div class="collapse d-flex navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link second-text fw-bold" href="/admin/auth/logout" id="navbarDropdown" role="button"
               aria-expanded="false">
              <i class="fas fa-user me-2"></i>{{user.Name}}
            </a>
            
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</nav>
{{/if}}
{{{body}}}