<style>
  .navbar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }

  .fa-bell {
    font-size: 25px;
  }

  .toggle-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  /* JavaScript will add animation classes */
  .open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logimgside {
    width: 250px;
    border-radius: 10px;
  }

  .offcanvas-end {
    width: fit-content;
  }

  .nav-item {}

  .arowicon {
    margin-top: 15px;
    font-size: 30px;
    margin-right: 384px;
    text-shadow: 0px 2px 10px #ffffff;
    background-color: #ffffff;
    border-radius: 50px;
  }

  .nav-link {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    width: 250px;
    color: #ffffffd8;
  }

  .navbar-nav .nav-link.active, .nav-link:hover{
    color: #ffffff
  }

  .offcanvas{
    margin-right: -120px;
  }
</style>


<nav class="navbar fixed-top">
  <div class="container-fluid">
    <i class="fa-regular fa-bell" style="color: #ffffff;"></i>

    <div class="toggle-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions" onmouseenter="toggleNav()" onmouseleave="toggleNav()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="offcanvas offcanvas-end " data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header position-relative">
        <i class="arowicon fa-solid fa-circle-right position-absolute top-0 end-0" data-bs-dismiss="offcanvas"
          aria-label="Close" style="color: #000000;"></i>
        <div class="logarou">
          <img class="logimgside" src="https://i.ibb.co/CQ3n2k8/logo-kala.png" width="500px" alt="" srcset="">
        </div>

        
        {{!-- <i class="bi bi-arrow-right-circle-fill" data-bs-dismiss="offcanvas" aria-label="Close"></i> --}}
        {{!-- <button type="button" class="btn-arrow" data-bs-dismiss="offcanvas" aria-label="Close"></button> --}}
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active navbartext" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/public_portal">RESULTS</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</nav>

<script>
  function toggleNav() {
    const toggleButton = document.querySelector('.toggle-button');
    toggleButton.classList.toggle('open');
  }

</script>
{{!-- <div class="container-fluid offcanvas offcanvas-end " data-bs-scroll="true" tabindex="-1"
  id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="row flex-nowrap">
    <div class="bg-dark col-auto col-md-2 min-vh-100">
      <div class="bg-dark">
        <a href="" class="d-flex text-decoration-none align-items-center">
          <span class="fs-4 d-none-d-sm-inline">SideMenu</span>
        </a>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a href="" class="nav-link active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link ">Result</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link ">Check</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> --}}