<style>
  .navbar {
    padding-left: 30px;
  }

  .fa-bell {
    font-size: 25px;
  }

  .toggle-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  /* JavaScript will add animation classes */
  .open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logimgside{
    width: 200px;
    border-radius: 10px;
  }

  .offcanvas-end{
    width: fit-content;
  }
  
  .nav-item{
    width: 300px;
  }
</style>


<nav class="navbar fixed-top">
  <div class="container-fluid">
    <i class="fa-regular fa-bell" style="color: #ffffff;"></i>

    <div class="toggle-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions" onmouseenter="toggleNav()" onmouseleave="toggleNav()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <div class="logarou">
          <img class="logimgside" src="https://i.ibb.co/D4yN56d/logo-kala.png" width="200px" alt="" srcset="">
        </div>
        
        
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </div>
</nav>

<script>
  function toggleNav() {
    const toggleButton = document.querySelector('.toggle-button');
    toggleButton.classList.toggle('open');
  }

</script>