body {
  
  font-family: 'Poppins', sans-serif;
  font: 14px ;
}


.navbar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.fa-bell {
  font-size: 25px;
}

.toggle-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebarBar {
  width: 20px;
  height: 2px;
  background-color: #fff;
}

/* JavaScript will add animation classes */
.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.logimgside {
  width: 100%;
  border-radius: 10px;
}


.nav-item {
  border-radius: 0;
}

.arowicon {
  margin-top: 15px;
  font-size: 30px;
  margin-right: 235px;
  text-shadow: 0px 2px 10px #ffffff;
  background-color: #ffffff;
  border-radius: 50px;
}

.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
  color: #319e88;
  width: 100%;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
  color: #165f50;
  font-weight: bolder;
}


.btnSi {
  background-color: white;
  color: #165f50;
  border-radius: 0px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.btnSi:hover {
  background-color: #165f50;
  color: white;
  border-radius: 0px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.offcanvas-body::-webkit-scrollbar {
  display: none;

}


/* 
.sidebarButtons .fas {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;

}

.sidebarButtons {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.sidebarContents {
  height: 100%;
  width: 100%;
}

.nav .nav-link {
  text-align: left;
  background: #165f50;
  border-radius: 10px;
  color: #ffffff9d;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
}

  /* {
    {
    !-- #64c5b1 #165f50--
  }
} */

.nav .nav-link:hover {
  color: #ffffff;
  font-weight: 500;
  margin-left: 10px;
  background: #457c71;
}

.nav .nav-link.active {
  color: #ffffff;
  font-weight: 500;
}


.layoutSidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  margin: 5px;
  border-radius: 10px;
  background-color: #165f50;
  transition: 0.3s;
}

.hideNav {
  margin: 0px;
  width: 55px;
  margin-bottom: 0px;
  border-radius: 0px;
  transition: 0.3s;

}



.hideMenue,
.hideButtons {
  display: none;
  transition: 0.3s;
}

.hidePage{
  margin-left: 65px;
  
}

.dashPage{
  background-color: #cffff5;
  height: 100%;
  padding-bottom: 20px;
}

.dashboard_box {
  background-color: #ffffff;
  border-radius: 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px #0000001a;
  transition: 0.6s;
}

.no-padd {
  padding-bottom: 4px;
}



.sideSpace {
  width: 55px;
}

@media (max-width: 600px) {
  .sideSpace {
    width: 80px;
  }

  .sideSpace-decre {
    width: 0px;
  }
}

.contentSpace {
  width: calc(100% - 55px);
  padding-top: 30px;

}



.count-item {
  background-color: #0b896f;
  border-radius: 0px;

  transition: 0.3s ease-in-out;
  color: white;
}

.card-icon {
  font-size: 50px;
  color: white;
}

p {
  color: #0b896f;
  font-weight: 500;
  font-size: large;
}

body {
  overflow-x: hidden;
} */
:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: #009d63;
}

.second-text {
  color: #bbbec5;
}

.primary-bg {
  background-color: #009d63;
}

.secondary-bg {
  background-color: #c1efde;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf7e4,
    #d4f8ea,
    #ddfaef
  );
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.logoImg{
  width: 200px;
}