<<<<<<< HEAD

<<<<<<< HEAD
<section >
  
  <div class="row dashPage bg-primary">
    
=======
  .dashboard_box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    transition: 0.6s ease-in-out;
  }




  .sideSpace {
    width: 55px;
  }

  @media (max-width: 600px) {
    .sideSpace {
      width: 80px;
    }

    .sideSpace-decre {
      width: 0px;
    }
  }

  .contentSpace {
    width: calc(100% - 55px);
    padding-top: 30px;
  }



  .count-item {
    background-color: #0b896f;
    border-radius: 10px;

    transition: 0.3s ease-in-out;
    color: white;
  }
</style>
<div class="row">
  <div class="col contentSpace">
    <div class="row g-3 container ">
      <div class="col-12 ">
        <div class="dashboard_box">
          <div class="row g-3">
            <div class="col text-center">
              <div class="p-4 count-item">
                <h1>4</h1>
                <h4>Teams</h4>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 count-item">
                <h1>4</h1>
                <h4>Teams</h4>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 count-item">
                <h1>4</h1>
                <h4>Teams</h4>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 count-item">
                <h1>4</h1>
                <h4>Teams</h4>
              </div>
            </div>
=======
<div class="col-12 ">
  <div class="row g-3">
    <div class="col text-left">
      <div class="p-4 count-item">
        <div class="row">
          <div class="col">
            <h1>4</h1>
            <h4>Teams</h4>
          </div>
          <div class="col text-center p-3">
            <i class="fas fa-trophy card-icon "></i>
>>>>>>> 67a95dd (result page)
          </div>
        </div>
      </div>
    </div>
    <div class="col text-left">
      <div class="p-4 count-item">
        <div class="row">
          <div class="col">
            <h1>320</h1>
            <h4>Candidates</h4>
          </div>
          <div class="col text-center p-3">
            <i class="fa-solid fa-person card-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-left">
      <div class="p-4 count-item">

        <div class="row">
          <div class="col">
            <h1>600</h1>
            <h4>Programs</h4>
          </div>
          <div class="col text-center p-3">
            <i class="fa-solid fa-pen-nib card-icon"></i>
          </div>
        </div>

      </div>
    </div>

    <div class="col text-left">
      <div class="p-4 count-item">

        <div class="row">
          <div class="col">
            <h1>5</h1>
            <h4>Days</h4>
          </div>
          <div class="col text-center p-3">
            <i class="fa-solid fa-calendar-days card-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-md-6 col-xm-12 text-center">
  <div class="dashboard_box no-padd">

    <p class="align-middle"><i class="fas fa-search"></i> PROGRAM BASED RESULT</p>

>>>>>>> 86fc211 (content space)
  </div>
</div>
<div class="col-md-6 col-xm-12 text-center">
  <div class="dashboard_box no-padd">
    <p><i class="fas fa-search"></i> HOUSE BASED RESULT</p>
  </div>
</div>