<style>
  .carousel-tab {

    background-color: #c1efde;
    width: fit-content;


  }

  .carousel-tab p {
    font-size: 20px;
    font-weight: 500;
    color: #009d63;
    margin: 10px;
  }

  .total-headbar p {
    font-size: 20px;
    font-weight: 500;
    color: #fdfdfd;

  }

  .total-bar p {
    font-size: 20px;
    font-weight: 500;
    color: #009d63;

  }
</style>
<div class="row g-3 my-2">
  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">4</h3>
        <p class="fs-5">HOUSES</p>
      </div>
      <i class="fas fa-house fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">320</h3>
        <p class="fs-5">Candidates</p>
      </div>
      <i class="fas fa-people-group fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">600</h3>
        <p class="fs-5">Programs</p>
      </div>
      <i class="fas fa-pen fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>

  <div class="col-md-3">
    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
      <div>
        <h3 class="fs-2">5</h3>
        <p class="fs-5">Days</p>
      </div>
      <i class="fas fa-calendar-days fs-1 primary-text border rounded-full secondary-bg p-3"></i>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="p-3 bg-white shadow-sm rounded">
      <a class="btn btn-primary mb-3 mr-1 " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <i class="fa fa-arrow-left"></i>
      </a>
      <a class="btn btn-primary mb-3 " type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <i class="fa fa-arrow-right"></i>
      </a>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-tab rounded">
              <p>HOUSE BASED</p>
            </div>
            <div class="col-12">
              <div class="bg-white border p-1 rounded shadow-sm">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">POSITION</th>
                      <th scope="col">HOUSE NAME</th>
                      <th scope="col">GAINED SCORE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1<sup>st</sup> </td>
                      <td>TEAM A</td>
                      <td>2538</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
              class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img
              src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
              class="d-block w-100" alt="...">
          </div>
        </div>


      </div>
    </div>
  </div>
</div>