<section class="bg-primary">
  <div class="offcanvas show" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header position-relative">
        <i class="arowicon fa-solid fa-circle-right position-absolute top-0 end-0" data-bs-dismiss="offcanvas"
          aria-label="Close" style="color: #000000;"></i>
        <div class="logarou">
          <img class="logimgside" src="https://i.ibb.co/CQ3n2k8/logo-kala.png" width="500px" alt="" srcset="">
        </div>

        
        {{!-- <i class="bi bi-arrow-right-circle-fill" data-bs-dismiss="offcanvas" aria-label="Close"></i> --}}
        {{!-- <button type="button" class="btn-arrow" data-bs-dismiss="offcanvas" aria-label="Close"></button> --}}
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 ">
          <li class="nav-item">
            <a class="nav-link active navbartext" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/feeds">FEEDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/dowloads">DOWNLOADS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/dashboard">RESULTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbartext" href="/schedule">SCHEDULE</a>
          </li>

        </ul>
        
      </div>
      <div class="footer">
          <div class="signup">
            <a href="/signup" class="btn btnSi" role="button" aria-pressed="true">SIGN UP</a>
          </div>
        </div>
    </div>
</section>