
                <div class="col-12 ">
                  <div class="row g-3">
                    <div class="col text-left">
                      <div class="p-4 count-item">
                        <div class="row">
                          <div class="col col-xs-12">
                            <h1>4</h1>
                            <h4>Teams</h4>
                          </div>
                          <div class="col col-xs-12 text-center p-3">
                            <i class="fas fa-trophy card-icon "></i>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col text-left">
                      <div class="p-4 count-item">
                        <div class="row">
                          <div class="col col-xs-12">
                            <h1>320</h1>
                            <h4>Candidates</h4>
                          </div>
                          <div class="col col-xs-12 text-center p-3">
                            <i class="fa-solid fa-person card-icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col text-left">
                      <div class="p-4 count-item">

                        <div class="row"> 
                          <div class="col col-xs-12">
                            <h1>600</h1>
                            <h4>Programs</h4>
                          </div>
                          <div class="col col-xs-12 text-center p-3">
                            <i class="fa-solid fa-pen-nib card-icon"></i>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col text-left">
                      <div class="p-4 count-item">

                        <div class="row">
                          <div class="col col-xs-12">
                            <h1>5</h1>
                            <h4>Days</h4>
                          </div>
                          <div class="col-xs-12 col text-center p-3">
                            <i class="fa-solid fa-calendar-days card-icon"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 col-xm-12 text-center">
                  <div class="dashboard_box no-padd">

                    <p class="align-middle"><i class="fas fa-search"></i> PROGRAM BASED RESULT</p>

              
                  </div>
                </div>
                <div class="col-md-6 col-xm-12 text-center">
                  <div class="dashboard_box no-padd">
                    <p><i class="fas fa-search"></i> HOUSE BASED RESULT</p>
                  </div>
                </div>