{{!--
<div class="col-12 ">
  <div class="row g-3">
    <div class="col text-left">
      <div class="p-4 count-item">
        <div class="row">
          <div class="col col-xs-12">
            <h1>4</h1>
            <h4>Teams</h4>
          </div>
          <div class="col col-xs-12 text-center p-3">
            <i class="fas fa-trophy card-icon "></i>

          </div>
        </div>
      </div>
    </div>
    <div class="col text-left">
      <div class="p-4 count-item">
        <div class="row">
          <div class="col col-xs-12">
            <h1>320</h1>
            <h4>Candidates</h4>
          </div>
          <div class="col col-xs-12 text-center p-3">
            <i class="fa-solid fa-person card-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col text-left">
      <div class="p-4 count-item">

        <div class="row">
          <div class="col col-xs-12">
            <h1>600</h1>
            <h4>Programs</h4>
          </div>
          <div class="col col-xs-12 text-center p-3">
            <i class="fa-solid fa-pen-nib card-icon"></i>
          </div>
        </div>

      </div>
    </div>

    <div class="col text-left">
      <div class="p-4 count-item">

        <div class="row">
          <div class="col col-xs-12">
            <h1>5</h1>
            <h4>Days</h4>
          </div>
          <div class="col-xs-12 col text-center p-3">
            <i class="fa-solid fa-calendar-days card-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-md-6 col-xm-12 text-center">
  <div class="dashboard_box no-padd">

    <p class="align-middle"><i class="fas fa-search"></i> PROGRAM BASED RESULT</p>


  </div>
</div>
<div class="col-md-6 col-xm-12 text-center">
  <div class="dashboard_box no-padd">
    <p><i class="fas fa-search"></i> HOUSE BASED RESULT</p>
  </div>
</div> --}}



    
      <div class="row g-3 my-2">
        <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
              <h3 class="fs-2">4</h3>
              <p class="fs-5">HOUSES</p>
            </div>
            <i class="fas fa-house fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
        </div>

        <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
              <h3 class="fs-2">320</h3>
              <p class="fs-5">Candidates</p>
            </div>
            <i class="fas fa-people-group fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
        </div>

        <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
              <h3 class="fs-2">600</h3>
              <p class="fs-5">Programs</p>
            </div>
            <i class="fas fa-pen fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
        </div>

        <div class="col-md-3">
          <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
              <h3 class="fs-2">5</h3>
              <p class="fs-5">Days</p>
            </div>
            <i class="fas fa-calendar-days fs-1 primary-text border rounded-full secondary-bg p-3"></i>
          </div>
        </div>
      </div>

      

    
  
