<style>
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    margin: 5px;
    border-radius: 10px;
  }

  .nav-link{
    text-align: left;
  }

  .navitemsbar{
    height: 100%;
    width: 100%;
  }
  
  .nav-item{
    width: 215px;
  }
</style>
<section class="bg-primary">
  <div class="row">
    <div class="col-md-2 sidebar bg-success d-flex align-items-center">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <i class="fas fa-home"></i>
          </div>
        </div>
        <div class="col-md-12 navitemsbar">
          <ul class="nav flex-column ">
            <li class="nav-item">
              <a class="nav-link active" href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/profile"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/notifications"><i class="fas fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/settings"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>